*{
    margin: 0;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: white;
}

.navigation{

    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
}

.navigation .nav_content{
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 16px;
    
}

.nav_content .nav_list{
    display: flex;
    max-width: 365px;
    /* border: 1px solid red; */
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav_list a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.btn{
    max-width: 164px;
    max-height: 44px;
    color: white;
    background-color:#30B868 ;
    border: none;
    font-size: 16;
    padding: 16px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight:600;
}

.head
{
    max-width: 1600px;
    height: 674px;
    background-image: url("../Styles/hero-bg.png");
    background-size: cover;
    background-position: center;
}

.EANO{
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
    text-align: center;
}

.EANO h1{
    color: #FFFFFF;
}

.EANO .p2{
    max-width: 229px;
    margin: 0 auto;
}

.EANO .p1{

    max-width: 1360px;
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 16px;
}


.mrGreen
{
    color: #30B868;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  background: white;
  padding: 12px 24px;
  border-radius: 999px;

  font-size: 16px;
  font-weight: 600;
  color: #4a8f63;

  margin-bottom: 24px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: #4a8f63;
  box-shadow: 0 0 0 6px rgba(74, 143, 99, 0.2);
}

.nav_cont{
    max-width: 465px;
    /* border: 1px solid red; */
    align-items: center;
    margin: auto;
    display: flex;
    gap: 16px;
    margin-top: 30px;
    
}

.nav_cont .btn_one
{
    display: flex;
    align-items: center;
    max-width: 251px;
    max-height: 52px;
    color: white;
    background-color:#30b869ab ;
    border: none;
    font-size: 16;
    padding: 16px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight:600;

}

.btn_one img{
    max-width: 20px;
    max-height: 20px;
    margin-left: 10px;

}

.nav_cont .btn_two
{
    max-width: 198px;
    max-height: 52px;
    color: white;
    background: transparent;
    border: 1px solid white;
    font-size: 16;
    padding: 16px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight:600;
}

/* -- Frame 01 Starts her --  */

#frame_02
{
    max-width: 1600px;
    max-height: 448px;
}

#frame_02 .frame_02_container
{
    max-width: 1360px;
    margin: 0 auto;
}

#frame_02 .section-heading
{
    padding-top: 48px;
    text-align: center;
    margin-bottom: 44px;
}

#frame_02 .section-heading h1{
    padding-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
}

#frame_02 .section-heading p{

    font-size: 16px;
    color: #627382;


}

#frame_02 .card_box{
    display: flex;
    gap: 24px;
    max-width: 1360px;
}

#frame_02 .card_box .card
{
    padding: 69.5px 24px;
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000001c;
}

.icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f95555;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.icon-circle img{
    max-width: 32px;
}

.card_content h3
{
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
    
}

.card_content p{
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
    color: #627382;
    text-align: center;
    width: 274px;
}















